canvas {
	width: 100%;
	height: 100%;
	background: black;
}
body, html {
	height: 95%;
	margin: 0;
}
footer {
	background: #123456;
	color: #fff;
	text-align: center;
	height: 55px;
	padding: 0px;
	margin: 0px;
}